*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@font-face {
	font-family: 'pt-sans-bold-italic';
	src: url(../fonts/pt-sans-bold-italic.ttf);
}

@font-face {
	font-family: 'Ag_cooper';
	src: url(../fonts/Ag_cooper.ttf);
}

html, body, main {
	height: 100%;
	font-family: 'pt-sans-bold-italic';
}

.first {
	height: 100%;
	background-image: url(../img/img1.jpg);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.first p {
	color: black;
	text-align: center;
}

.klgd {
	width: 100%;
	text-align: center;
	padding-top: 80px;
	font-size: 20px;
}

.text-container {
	width: 50%;
	margin-left: 0%;
	margin-top: 0.5%;
}

.first-line {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1;
}

.second-line {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1;
}

.third-line {
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1;
}

.l-second {
	height: 100%;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	color: black;
	background-color: #f0f099;
	font-size:  20px;
	font-family: Ag_cooper;
}

.l-container {
	width: 60%;
	max-width: 1000px;
}

.img-container {
	width: 100%;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
	box-shadow: 0 0 10px 1px rgba(0,0,0,.3)
}

.img1 {
	width: 55%;
}

.wrapper {
	margin-left: 20px;
}

.img2 {
	margin-bottom: 55px;
}

.img5 {
	width: 70%;
}

.l-text {
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 20px;
}

.l-header {
	font-size: 35px;
	font-weight: bold;
	letter-spacing: 3px;
	line-height: 1;
}

.l-p {
	font-size: 18px;
	right: 40%;
}

.tablica-one {
	background-color: #fcf8c7;
	height: 22%;
}

.container-tablica {
	font-size: 25px;
	margin-left: 29%;
}

.somo-tablica {
	margin-left: 38%;
	margin-top: 1%;
}

.last-container {
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	flex-direction: column;
	height: 300px;
	padding: 0 25%;
	background-image: url(../img/img3.jpg);
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	font-family: pt-sans-bold-italic;
}

.last-header {
	color: white;
	font-size: 20px;
	padding: 10px 20px;
	border: 1px solid white;
	margin-bottom: 40px;
}

.last-text {
	color: white;
	font-size: 20px;
	text-align: center;
	line-height: 1.5;
	letter-spacing: 1px;
	margin-top: 5%;
}